/*
Colors: 
#E54E79;
#E56385;
#00B2A9;;
#EDE9E2
*/
body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

/*nav-bar*/
.contenedor-navbar{/*fija nav-bar*/
	width: 100%;
	background-color: #E54E70;
	margin: 0;
	position: fixed;
	z-index: 1000;
}
ul{
	list-style: none;
	overflow: hidden;
	text-align: right;
	position: relative;
}
/*ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E54E70;
	width: 100%;
	text-align: right;
	position: fixed;
	
}*/
.logo{
	top:7px;
	width: 9px;
	height: 43px;
	padding: 0.4% 2%;
	margin: 15px;
	position: absolute;
	left: 55px;
}
.uno{
	background: url('../img/logo-white.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
ul li{
	display: inline-block;
	color: whitesmoke;
}
ul li a{
	display: inline-block;
	color: whitesmoke;
	text-align: center;
	padding: 25px;
	text-decoration: none;
}
li a:hover{
	background-color: #E56385;
}

/*header*/
.contenedor-registro{
	position: relative;

}
.headr{
	background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
	background-size: cover;
	height: 800px;
	background-attachment: fixed;/*fija la foto*/
}
/*formulario*/
.headr-registro{
	background-color: #EDE9E2;
	position: absolute;
	bottom: 200px;
	left: 850px;
	padding-top: 35px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 35px;
}
.headr-registro h2{
	color: #00B2A9;
}
.headr-registro input{
	display: block;
	margin-top: 25px;
	width: 100%;
	background-color: #EDE9E2;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #75726C;
}
.headr-registro a{
	display: block;
	margin-top: 15px;
	background-color: #E54E79;
	color: white;
	width: 40%;
	border-top: 15px solid #E54E79;
	border-bottom: 15px solid #E54E79;
	border-left: 15px solid #E54E79;
	border-right: 15px solid #E54E79;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #999;
}
/*Play with lyft*/
.contenedor-lyft{
	background-color: #00B2A9;
	height: 450px;
	width: 100%
	position: relative;

}
.titulo{
	display: block;
	
}
.contenedor-lyft div h1{
	text-align: center;
	background-color: #EDE9E2;
	width: 100%;
	position: absolute;
	top: 850px;
	font-size: 37px;
	color: #75726C;
}
.contenedor-lyft .cuadro-juego{
	background-color: #EDE9E2;
	position: absolute;
	top: 950px;
	left: 391px;
	padding-top: 35px;
	padding-bottom: 110px;
	padding-left: 120px;
	padding-right: 28px;
}
.inputs .p-x, .inputs .p-y{
	width: 25%;
	background-color: #EDE9E2;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #75726C;g: 5px;
	margin: 8px;
	outline: 0;
}
.inputs #start{
	display: block;
	position: absolute;
	right: 55px;
	color: whitesmoke;
	text-align: center;
	background-color: #00B2A9;
	border-top: 15px solid #00B2A9;
	border-bottom: 15px solid #00B2A9;	
	border-left: 15px solid #00B2A9;
	border-right: 15px solid #00B2A9;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #999;
	width: 406px;
}
.inputs #start:hover{
	border-top: 15px solid #75726C;
	border-bottom: 15px solid #75726C;	
	border-left: 15px solid #75726C;
	border-right: 15px solid #75726C;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #999;
	background-color: #75726C;
}

/*footer*/
.foo-bar{
	background-color: #75726C;
	height: 134px;
	width: 100%;
	position: relative;
}
.barra-info{
	position: absolute;
	left: 78px;
	top: 42px;

}
.titulo-foo{
	margin: 0;
	color: whitesmoke;
	font-size: 27px;
	padding: 15px;
}
.redes-sociales{
	position: absolute;
	left: 1060px;
	top: 65px;
}
.redes-sociales p{
	margin: 0;
	color: whitesmoke;
	font-size: 19px;
}
.info-pag{
	position: absolute;
	top: 112px;
	left: 93px;
}
.info-pag p{
	margin: 0;
	color:whitesmoke;
	font-size: 10px;
}
.tablero{
	background-color: #75726C;
	width: 560px;
	height: 276px;
	position: absolute;
	top: 950px;
	left: 391px;
	border: 2px solid #EDE9E2;
}